body {
   background-color: #afceff;
}

h1 {
  font-family: calibri;
  color: #db1818;
  text-align: center;
}

h2 {
  font-family: calibri;
  font-size: 20px;
}

p {
  font-family: calibri;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 6px solid #ff0000;
  border-radius: 5px;
}
