body {
   background-color: #0143ad;
}

h1 {
  font-family: fantasy;
  color: #db1818;
  text-align: center;
}

h2 {
  font-family: calbri;
  font-size: 20px;
}

p {
  font-family: calibri;
  color: #ff00ff;
}
